/*************************Reset everything*****************/
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&display=swap');

*{
    list-style-type: none;
    text-decoration: none;
    color: #aeb9f7;
    margin:0;
    padding:0;
    font-family: "Anek Gujarati", sans-serif;
}
/******************************************************/

body{
    background-image: url("ressources/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header{
display:flex;
flex-direction: column;
background-color: #070f2b8e;
box-shadow: inset black 1px 1px 100px 10px;
}
.header.top,
.header.bottom,
.header.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:25px;
    gap:15px;
}
.header.bottom{
    justify-content: space-evenly;
}
.header.bottom h1,
h2{
    font-weight: 800;
    font-size: 45px;
}
.header.bottom h1,
.header.bottom p{
    margin-bottom: 10px;
}
.header.bottom button{
    font-weight: 800;
    color:rgba(255, 0, 0, 0.548);
    font-size: 16px;
    padding:5px;
    border-radius: 5px;
    background-color: rgba(1, 0, 46, 0.5);
}
/*******************************/
/********************* Middle with Informations and card******************** */
#informations p {
    color: #aeb9f7;
    border-radius: 15px;
    align-items: center;
    display:flex;
    padding:15px;
    height:150px;
    background-color: #1b1a557e;
    box-shadow: inset black 1px 1px 50px 10px;
}
.middle{
    display: flex;
    align-items: center;
}
 h2{
text-shadow: rgb(0, 0, 0) 2px 2px 0px;
text-align: center;
margin:100px 0;
text-decoration: underline;
}
.card {

    display:flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 60px;
}
.card > img{
    
    margin-bottom: 25px;
    border-radius: 15px;
    border:solid 1px black; 
    background-color: #1b1a557e;
    box-shadow: inset black 1px 1px 20px 5px;
}

/**************************************/

/*********** Quotes***************/

#quote {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
    height: 250px;
    background-color: #1b1a557e;
    box-shadow: inset black 1px 1px 100px 10px;
}
.quoteone{
    margin-right:500px;
}
.quotetwo{
    margin-right:300px;
}
.quotethree{
    margin-left: 250px;
}
h4{
    margin-top: 20px;
    margin-left:800px;
}

/************** Recruitment div ******************/
#recruitment{
    margin: 100px auto;
}
.recruitement-card{
    width:40%;
    background-color: #535c9196;
    margin:auto;
    padding:50px;
    box-shadow: inset black 0px 0px 100px 10px;
    border-radius: 10px;
    border: solid 1px #9290C3b4;
    display:flex;
    justify-content: space-between;
}
.recruitement-card button{
    width: 150px;
    border-radius: 10px;
    background-color: #535c9138;
    box-shadow: rgba(0, 0, 0, 0.795) 1px 1px 25px 10px;
    color:rgba(255, 0, 0, 0.548);
    font-weight: bold;
    font-size: 20px;
}

/**************************************************/

/********  Footer *****************************/

footer{
    height: 50px;
    background-color: #9290c33f;
    box-shadow: inset rgba(0, 0, 0, 0.774) 1px 1px 30px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Hover etc...*/

.header.buttons li:hover{
    transform: scale(110%);
}
.card img:hover{
    cursor: pointer;
transform: scale(110%);
}
button:hover{
transform: scale(120%);
cursor:pointer;
}